.headPic {
  color: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url("sf.jpg");
  background-size: 100vw auto;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 100;
}

.icon {
  width: 50px;
  height: auto;
}

.overview {
  text-align: center;
  color: #9E9E9E;
  background-color: #F2F2F2;
}

.over {
  margin-top: 90px;
  margin-bottom: 90px;
  font: 'Lato', sans-serif;
  font-weight: 100;
}

.over h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.over h2 {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 100;
  font-size: 30px;
  font-weight: 400;
}

#title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 90px;
}

#phrase {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin: 15px;
  padding: 15px;
}

#download {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 3px;
  color: white;
  width: 300px;
  height: 30px;
  padding: 14px;
  margin: 15px;
}

.top {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 150px;
  margin-bottom: auto;
}

#learn {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding: 14px;
  margin: 15px;
}

#phone {
  height: 550px;
  width: auto;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

#fpic {
  width: 40vw;
  height: auto;
}

.philosophy {
  font-family: "Roboto", sans-serif;
}

#philpic {
  width: 50vw;
  height: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.text {
  margin: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  width: 450px;
  background-color: #C83246;
  text-align: justify;
}

#phil {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.philimg {
  background-image: url("tower.jpeg");
  background-size: 700px auto;
}

.philtext {
  background-color: #C83246;
  color: white;
  font-family: "Roboto", sans-serif;
}

.philtext h1 {
  font-family: "Didact Gothic", sans-serif;
}

body {
  background-color: #C83246;
}

.features {
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.features h1 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 90px;
}

.ftext {
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
}

.featuretext {
  text-align: left;
}

.screen {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.screenshot {
  height: auto;
  width: 40vw;
}

.feattext {
  text-align: center;
}

.feature1 {
  background-color: #f7f7f7;
}

#fpicture {
  text-align: right;
  overflow: hidden;
}

#fpic {
  overflow: hidden;
}

#f1text {
  text-align: center;
}

#f1text h1 {
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
  margin-top: 0px;
}

#f1text h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.quotetext {
  padding-top: 30px;
}

.author {
  text-align: right;
}

.quoteblock {
  height: 250px;
  position: relative;
}

#textblock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: inherit;
}

.quotes {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 300px;
}

.bead {
  width: 15px;
  height: auto;
}

#botimage {
  background-image: url("construction.jpeg");
  height: 100vh;
}

#blurbotimage {
  height: 100vh;
  background-image: url("blurbot.jpg");
  color: white;
  text-align: center;
  position: relative;
}

.blurtext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#blurbotimage h1 {
  margin-bottom: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 70px;
}

#app {
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 500px;
  height: 30px;
  padding: 14px;
  margin: 15px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 100;
}
